<section>
    <h3>About Myself</h3>
    <div class="face-lockup">
        <div class="face-img"></div>
        <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
        <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
        <div class="icon-browser">{% include icons/icon-browser.html %}</div>
        <div class="icon-video">{% include icons/icon-video.html %}</div>
        
    </div>
    
    <div class="blurb">
        <p><strong>Το «όλα από την αρχή» αποτελεί σύνθημα </strong>της διοίκησης από χθες βράδυ και ο Βίκτορ Σάντσεθ θα πρέπει να θεωρείται τελειωμένος. Μάλιστα ήδη έχουν συζητηθεί ονόματα για τη διάδοχη κατάσταση, με τον Μαρίνο Ουζουνίδη να θεωρείται αυτή τη στιγμή η επικρατέστερη λύση, αλλά να εξετάζονται και λύσεις από το εξωτερικό. <br>
        Doing math in your CSS is very helpful. Sass has a handful of standard math operators like +, -, *, /, and %. In our example we're going to do some simple math to calculate widths for an aside & article.
       </p>
</div>

<div class="skill-lockup">
   <div class="skill-unit">
       <div class="skill-label">Communication</div>
           <div class="skill-icons">
               <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
           </div>
       
   </div>
      <div class="skill-unit">
       <div class="skill-label">Organization</div>
           <div class="skill-icons">
               <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
           </div>
       
   </div>
      <div class="skill-unit">
       <div class="skill-label">Learning</div>
           <div class="skill-icons">
               <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
           </div>
       
   </div>
      <div class="skill-unit">
       <div class="skill-label">Teaching</div>
           <div class="skill-icons">
               <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
           </div>
       
   </div>
      <div class="skill-unit">
       <div class="skill-label">Planning</div>
           <div class="skill-icons">
               <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
           </div>
       
   </div>
      <div class="skill-unit">
       <div class="skill-label">UX Design</div>
           <div class="skill-icons">
               <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
           </div>
       
   </div>
      <div class="skill-unit">
       <div class="skill-label">Programming</div>
           <div class="skill-icons">
               <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
           </div>
       
   </div>
      <div class="skill-unit">
       <div class="skill-label">Visual Design</div>
           <div class="skill-icons">
               <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
           </div>
       
   </div>
   
   
    
</div>
</section>